
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 4rem;
  align-items: center;
  bottom: 0;


  img {
    width: 50px;
    opacity: 50%;
  }

  ul {
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .nav {
    display: flex;
    align-items: center;
  }
  li > a {
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    opacity: 50%;
  }

  li > a:hover {
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    opacity: 100%;
    transition: 0.5s;
  }


  a > p, p{
    color: #fff;
    opacity: 50%;
    margin-left: 0.5rem;
  }


}

