<!-- Gallery -->
<div class="container">
  <div class="video">
    <video src="../../../assets/Videos/1.mp4" controls autoplay loop muted width="300px"></video>
  </div>
  <div class="video">
    <video src="../../../assets/Videos/2.mp4" controls autoplay loop muted width="300px"></video>
  </div>
  <div class="video">
    <video src="../../../assets/Videos/3.mp4" controls autoplay loop muted width="300px"></video>
  </div>
  <div class="video">
    <video src="../../../assets/Videos/4.mp4" controls autoplay loop muted width="300px"></video>
  </div>
  <div class="video">
    <video src="../../../assets/Videos/5.mp4" controls autoplay loop muted width="300px"></video>
  </div>
  <div class="video">
    <video src="../../../assets/Videos/6.mp4" controls autoplay loop muted width="300px"></video>
  </div>
  <div class="video">
    <video src="../../../assets/Videos/7.mp4" controls autoplay loop muted width="300px"></video>
  </div>
  <div class="video">
    <video src="../../../assets/Videos/8.mp4" controls autoplay loop muted width="300px"></video>
  </div>
  <div class="video">
    <video src="../../../assets/Videos/9.mp4" controls autoplay loop muted width="300px"></video>
  </div>
  <div class="video">
    <video src="../../../assets/Videos/10.mp4" controls autoplay loop muted width="300px"></video>
  </div>



</div>

