<div class="group">
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        <img src="../../../assets/LogoNova.png" alt="logo">
      </div>
      <div class="card-body">
        <h5 class="card-title">Nossa empresa</h5>
        <p class="card-text">
          A idoneidade e os valores de meu professor e companheiro ao longo de 20 anos compartilhando experiências no seguimento de usinagem e manutenção industrial, meu falecido pai o empresário Sr. Luiz Ramos.</p>
        <p>Foi o fator preponderante para a fundação e missão de nossa empresa,especializada em montagem industrial atendendo aos requisitos da linha sanitária industrial com produtos em aço inox 304 e 316 polido.</p>
        <p> Atuando também nas áreas de usinagem técnica, manutenção industrial, desenvolvimento de projetos mecânicos e pneumáticos de pequeno e médio porte.</p>
      </div>
      <div class="card-footer text-muted">
        Emerson Ramos
      </div>
    </div>
  </div>
</div>
