
<div class="container">
  <h1>Empresas Clientes</h1>
  <div class="clientGroup">
    <img src="../../../assets/clientLogos/adecol.jpg" class="img-thumbnail" alt="...">
    <img src="../../../assets/clientLogos/ambev.png" class="img-thumbnail" alt="...">
    <img src="../../../assets/clientLogos/bananinha.png" class="img-thumbnail" alt="...">
    <img src="../../../assets/clientLogos/basf.png" class="img-thumbnail" alt="...">
    <img src="../../../assets/clientLogos/empresawana.png" class="img-thumbnail" alt="...">
    <img src="../../../assets/clientLogos/eurocel.png" class="img-thumbnail" alt="...">
    <img src="../../../assets/clientLogos/hbfuller.png" class="img-thumbnail" alt="...">
    <img src="../../../assets/clientLogos/mars.png" class="img-thumbnail" alt="...">
    <img src="../../../assets/clientLogos/rohm hass.png" class="img-thumbnail" alt="...">
    <img src="../../../assets/clientLogos/topcal.jpg" class="img-thumbnail" alt="...">
  </div>
</div>

