<div class="container">
  <form action="https://formsubmit.co/567b5efdfa3de7ae4219bc8a5ec3fccf" method="POST">
    <div class="form-group">
      <label for="exampleFormControlInput1">Nome</label>
      <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu nome" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Mensagem</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <input type="hidden" name="_captcha" value="false">
    <input type="hidden" name="_next" value="false">
    <div class="buttons">
      <button class="btn btn-danger mb-2">Cancelar</button>
      <button type="submit" class="btn btn-primary mb-2">Enviar</button>
    </div>

  </form>
</div>
